---
import Layout from "../layouts/Layout.astro";
import Entrenador from "../assets/Personas-entrenando.webp";


---
<Layout>
	<img src={Entrenador.src} alt="asd" class="h-[100vh] w-full object-cover opacity-25"/>
	<div class="text-white flex justify-center items-center my-40 absolute inset-0">
		<h1 class="flex flex-col"><span class="text-3xl">Entrenador</span><span class="uppercase text-[10rem] tracking-[50px] ml-10 font-[Bebas Neue]">Personal</span><span class="text-3xl text-end">Carlos Aguilera</span></h1>
	</div>
	<section class="h-[100vh]"></section>
</Layout>
