---
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/ContactForm.astro";
import Navbar from "../components/Navbar.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Entrenador Personal en San Juan | Carlos Aguilera</title>
		<meta name="description" content="Entrenador personal en San Juan. Planes personalizados, clases grupales, asesoramiento en fitness y nutrición. ¡Comienza tu transformación con Carlos Aguilera!" />
		<meta name="keywords" content="entrenador personal, fitness, San Juan, entrenamiento personalizado, clases grupales, nutrición, gym, Carlos Aguilera" />
		<meta name="author" content="Carlos Aguilera" />
		<meta property="og:title" content="Entrenador Personal en San Juan | Carlos Aguilera" />
		<meta property="og:description" content="Entrenador personal en San Juan. Planes personalizados, clases grupales, asesoramiento en fitness y nutrición." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tusitioweb.com" />
		<meta property="og:image" content="/assets/Logo.webp" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Entrenador Personal en San Juan | Carlos Aguilera" />
		<meta name="twitter:description" content="Entrenador personal en San Juan. Planes personalizados, clases grupales, asesoramiento en fitness y nutrición." />
		<meta name="twitter:image" content="/assets/Logo.webp" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Navbar />
		<slot />
		<ContactForm />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	@theme{
		--breakpoint-3xl: 120rem;
	}

	/* Importa solo los módulos Flowbite que uses */
	@import "flowbite/src/components/dropdown";
	@import "flowbite/src/components/modal";

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #05061d;
		font-family: 'Roboto', sans-serif;
	}
	

	h1{
		font-family: 'Anton', sans-serif;
	}

	.tipografia {
		font-family: 'Anton', sans-serif;
		letter-spacing: 2px;
	}

	.animate-scroll-left {
		animation: scroll-left 80s linear infinite;
	}
	@keyframes scroll-left {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}
</style>
