---
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/ContactForm.astro";
import Navbar from "../components/Navbar.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<ContactForm />
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	</body>
</html>

<style is:global>
	@import "tailwindcss";

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #05061d;
		font-family: 'Roboto', sans-serif;
	}
	

	h1{
		font-family: 'Anton', sans-serif;
	}

	.tipografia {
		font-family: 'Anton', sans-serif;
		letter-spacing: 2px;
	}

	.animate-scroll-left {
		animation: scroll-left 80s linear infinite;
	}
	.animate-scroll-right {
		animation: scroll-right 80s linear infinite;
	}
	@keyframes scroll-left {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-50%);
		}
	}
	@keyframes scroll-right {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(50%);
		}
	}
</style>
